* {
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin: auto;
    height: 100vh;
}

section[aria-label="navbar"]{
    height: 15vh;
    width: 100%;
}

.navbar-container{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar-container>div:nth-child(1){
    width: 20%;
}

.grow-list{
    width: 35%;
}

.button-group{
    width: 45%;
    justify-content: end;
    display: flex;
}

.button-group .nav-button{
    width: 21%;
    height: 6vh;
    border-radius: 11px;
    font-size: 17px;
    color: white;
    background-color: #6b6bd0;
    border: none;
}

.list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

ul>li:nth-child(2){
    color: #78909C;
}

ul>li:nth-child(3){
    color: #78909C;
}

ul>li:nth-child(4){
    color: #78909C;
}

ul>li:nth-child(5){
    color: #78909C;
}

.banner-container{
    display: flex;
}

span {
    color: #6b6bd0;
}

.banner-container>div:nth-child(2) img{
    width: 100%;
    height: 99%;
}

.banner-container>div:nth-child(1){
    width: 30%;
    height: 85vh;
}

.banner-container>div:nth-child(2){
    width: 70%;
    height: 85vh;
}

.heading-text{
    font-size: 4vw;
    margin-top: revert;
    line-height: 10vh;
    font-family: 'Poppins', sans-serif;
}

.description{
    font-size: 1.2em;
    margin-top: revert;
    margin-bottom: revert;
    font-family: 'Poppins', sans-serif;
}

.banner-container .nav-button{
    width: 38%;
    height: 6vh;
    border-radius: 10px;
    font-size: 16px;
    background-color: #6b6bd0;
    color: white;
    border: none;
    margin-top: 5vh;
    
}